.modal-postit
  a(href="", class="modal-postit-close js--modal-postit-close") X
  .modal-postit--inner
    | hello
.modal-info
  p.
    PUBLISHING ROOMS   FRIDAY 15 APRIL – FRIDAY 20 MAY 2016 

  p.
   Bonington Gallery presents Publishing Rooms, a commissioned exhibition concept by Andrew and Iain Foxall of Foxall Studio, London. 

  p.
   Over the past decade, mass-publishing has moved from the print houses into the hands of anyone owning a smartphone. Publishing is no longer a privilege, but an involuntary expression of our multiple identities and allegiances. Exploring themes of self-expression and posterity, Bonington Gallery will become a facility to further explore our obsessions with mediated forms of self-expression.

  p.
   Referencing and subverting everything from zine culture to the selfie phenomenon, Publishing Rooms will provide opportunities to go beyond the prescribed presets found in our social media outlets, generating new variables for the production of self-imagery and the subjective understanding of ourselves.

  p.
   Set within a constructed environment that combines the appearance of an abstracted newsroom with the functionality of a photo booth, visitors will be invited to interact with technological and analogue devices designed and implemented by Foxall. Each of these ‘devices’ is linked to an online platform (www.publishingrooms.com) that will allow ‘users’ to access their images for further distribution, establishing the gallery as a site of creation not completion.

  p.
   Brothers Andrew and Iain started Foxall Studio in 2006 to combine their experience and vision in art, fashion and innovation. As a multi-disciplinary studio, Foxall direct brand-led experiences ranging from brand creation, art direction and magazine design, through to exhibition design.
    | The brothers work with designers, developers, photographers and artists to create collaborations that challenge the paradigms of brand / experience building. Recent projects include a commissioned brand campaign by British jewelry designer, Jo Hayes Ward; contributions to an installation for Selfridges, London; and a music film released exclusively on Nowness.

  p.
   Andrew and Iain also regularly lecture and run workshops at The British Council, London College of Communication, The Royal College of Art and Liverpool John Moores.
   Excerpts from an interview conducted between Andrew & Iain Foxall and Bonington Gallery Curator Tom Godfrey in the lead up to the exhibition. This interview will continue throughout the exhibition and published at a future date:

  p.
   “Our great grandfather took a printing press from the UK to India at the beginning of last century and set up a publishing house in Allahabad and printed some of Rudyard Kipling's first texts. It’s good to be doing our small version of this 100 years later.”

  p.
    “‘Rooms’ become events in the exhibition space, loosely referencing the different areas in a traditional publishing house - the picture editors desk, the typesetting room, the darkroom etc. We like the idea of these different events being part of a single, branded communication - just like a newspaper - but distributed in ways relevant to a modern media.”  

  p.
    “A lot of the actions in Publishing Rooms are about stripping back the possibilities. Yes, you will be able to take 'seflies' but the process and outcome should hopefully excite/question something else in the broadcasting of self.

  .js--info-close Close

div(class="modal-credits modal-credits--#{env}")
  p.
    Concept and design - Andrew Foxall and Iain Foxall  #[a(href="http://foxallstudio.com") foxallstudio.com]

  p.
    Curated by Tom Godfrey 

  p.
    Gallery interface and website by Sebastien Dehesdin  #[a(href="http://bleepsandblops.com") bleepsandblops.com]

  p.
    Electronics by Ben Barwise #[a(href="http://clacktronics.co.uk") clacktronics.co.uk]
  
  p.
    Animations by Joe Lewis

  p.
    Shown at Bonington Gallery  #[a(href="http://boningtongallery.com") boningtongallery.com]

  p.
    Thanks:
    
  ul
    li All at Bonington Gallery
    li All at NTU marketing
    li All at NTU IT/desktop
    li Jane Foxall
    li Ben Foxall
    li Eleanor Greenleaf
  p.
    Special thanks:
  ul
    li Anne Prugnon
    li Marion Renerre

  .js--credits-close Close


footer
  .container.text-center
    p.pull-left Publishing Rooms, 15 April - 20 May 2016, Bonington Gallery
    .footer-links
      a(href="" class="js--info footer-link") info
      a(href="" class="js--credits footer-link") credits
if env == 'public'
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76428251-1', 'auto');
    ga('send', 'pageview');