footer
  .container.text-center
    p.pull-left Publishing Rooms, 15 April - 20 May 2016
    .footer-links
      a(href="/info" class="footer-link") info
      a(href="/credits" class="footer-link") credits