extends layout
block content

  video(class="site-video", autoplay, loop, src="/videos/publishingrooms.mp4")
  .home-logo 
    img(src="/img/prlogo.svg")
  .home-links
    if env == 'exhibition'
      a(href='/cameras/1' class="home-link") Scanner Cam 1
      a(href='/cameras/2' class="home-link") Scanner Cam 2
    if env == 'public'
    .button-container  
      a(href='/cameras' class="home-link home-button", data-text="Scanner Cam") Scanner Cams
      a(href='/cameras' class="home-link home-button", data-text="Scanner Cam") Scanner Cams
      a(href='/cameras' class="home-link home-button", data-text="Scanner Cam") Scanner Cams
    .button-container
      a(href='/bodyscan' class="home-link home-button", data-text="Body Scan") Body Scan
      a(href='/bodyscan' class="home-link home-button", data-text="Body Scan") Body Scan
      a(href='/bodyscan' class="home-link home-button", data-text="Body Scan") Body Scan
    .button-container
      a(href='/scannerwall' class="home-link home-button", data-text="Wall Scan") Wall Scan
      a(href='/scannerwall' class="home-link home-button", data-text="Wall Scan") Wall Scan
      a(href='/scannerwall' class="home-link home-button", data-text="Wall Scan") Wall Scan

  .modal-postit
    a(href="", class="modal-postit-close js--modal-postit-close") X
    .modal-postit--inner
      p Publishing Rooms utilises various flatbed scanners, reconfigured and connected to the internet. Visitors use the different scanner set-ups to make content, all published instantaneously on this site.
      p Image-conscious - self-publishing - iphone holding - 35mm - 90’s technology hardware design - resourcefulness - constraints promote creative responses