extends layout
block content

  .video-background 
    video(autoplay, src="/videos/publishingrooms.mp4")
  a(href='/cameras/1' class="home-link") Scanner Cam 1
  a(href='/cameras/2' class="home-link") Scanner Cam 2
  a(href='/bodyscan' class="home-link") Body Scan
  a(href='/scannerwall' class="home-link") Wall Scan