extends layout

block content
  h1 Publishing Rooms
  p.lead Curated by Foxall
  hr
  .row
    .col-sm-6
      h2 Scanner Wall
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='/scannerwall', role='button') See the timeline »
    .col-sm-6
      h2 Scanner Camera
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='/cameras', role='button') Start Scanning »