extends layout
block content

  video(class="site-video", autoplay, loop, src="/videos/publishingrooms.mp4")
  .home-logo 
    img(src="/img/prlogo.svg")
  .home-links
    a(href='/cameras/1' class="home-link") Scanner Cam 1
    a(href='/cameras/2' class="home-link") Scanner Cam 2
    a(href='/cameras/3' class="home-link") Body Scan
    a(href='/scannerwall' class="home-link") Wall Scan