extends layout

block content
  h1 Publishing Rooms
  p.lead Curated by Foxall
  hr
  .row
    .col-sm-6
      h2 
        a(href='/scannerwall') Scanner Wall
    .col-sm-6
      h2  
        a(href='/cameras') Scanner Camera