extends ../layout


block content
  .page-header
    h2 
      if env == 'public'  
        .menu-button-container
          a(href="/", class="menu-button wall-header") Publishing Rooms 
          a(href="/", class="menu-button wall-header") Publishing Rooms 
          a(href="/", class="menu-button wall-header") Publishing Rooms
      if env == 'exhibition'          
        a(href="/bodyscan") Publishing Rooms 
      | / 
      span(class="colour") Body Scan
  if env == 'exhibition'
    a(class="js--body-scan", href="") 
  .body-images.js--body-images
    span(class="js--body-image-1")
      if images[0]
        img(class="body-image js--body-image", src="https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/#{images[0].path}")
    span(class="js--body-image-2")
      if images[1]
        img(class="body-image js--body-image ", src="https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/#{images[1].path}")
    span(class="js--body-image-3")
      if images[2]
        img(class="body-image js--body-image ", src="https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/#{images[2].path}")
    span(class="js--body-image-4")
      if images[3]
        img(class="body-image js--body-image ", src="https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/#{images[3].path}")  


  video(class="site-video", autoplay, loop, muted, src="/videos/publishingrooms.mp4")
  .wall-message--body
    .wall-message-inner Scanning...

  .modal-postit
    a(href="", class="modal-postit-close js--modal-postit-close") X
    .modal-postit--inner
      .gallery.js-flickity(data-flickity-options='{ "imagesLoaded": true, "pageDots": false }')
        .gallery-cell
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e35/13117908_237330089958572_470512278_n.jpg?ig_cache_key=MTI0MjAzNzY0NzM1MTMzNjM5MA%3D%3D.2")
        .gallery-cell
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e35/12930755_245472409134427_791838562_n.jpg?ig_cache_key=MTIyMTExMTU1NDc2NzQ0MTIyNA%3D%3D.2")
        .gallery-cell
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e35/12599396_475742479281482_1003017006_n.jpg?ig_cache_key=MTIxNjAyODU2MzYzMjQxMDU3Ng%3D%3D.2")
        .gallery-cell 
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e35/12905293_1032353793499595_1533739692_n.jpg?ig_cache_key=MTIxNjU3MzMzMDM4ODc5ODcyMA%3D%3D.2")