extends ../layout

block content
  .page-header
    h2 
      .menu-button-container.menu-button-container--small
        a(href="/", class="menu-button ") Publishing Rooms 
        a(href="/", class="menu-button ") Publishing Rooms 
        a(href="/", class="menu-button ") Publishing Rooms
      | / Camera List
    if env == 'exhibition'
      a(href="/camera") Scan  
  .camera-filter-wrapper
    | Filter by name: 
    input.camera-filter
  .camera-index
    for camera in cameras
      a(class="camera-index-link", href="/camera/#{camera.id}") #{camera.name}

