extends ../layout

block content
  .page-header
    h2 Scanner Camera: #{camera.name} - #{camera.friendlyTimeline} 
    a(class='camera-link', href='/camera/#{camera.time}') Link 
    a(class='camera-link js--camera-share', href='/camera/#{camera.time}') Share
  .camera-wrapper
    .images.images--camera
      for image in camera.images
        img(src= 'https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/'+image.path)
    