extends ../layout

block content
  .page-header
    h2 
      a(href="/cameras/#{camera}") Publishing Rooms 
      / 
      span(class="colour colour--2") Scanner Cam #{camera}
  .camera-scan-controls
    .camera-name-label Name:
    input(type="text", name="name", class="js--camera-name camera-input")
    a(class='js--camera-scan button camera-link-scan', href='#', data-camera="#{camera}") Scan
    h4(class="js--current-scan") &nbsp;
  .camera-notice
    * By publishing your image you are allowing usage both online and in the gallery space
  .camera-wrapper
    .images.images--camera.js--current-scan-images

  ol.camera-notes
    li Enter a name
    li Press ‘Scan’
    li Sit in the centre of the bench within 5 seconds
  .send-modal
    .send-modal-inner
      .js--email-message
      .email-controls
        input(class="js--camera-email camera-input", placeholder="type email address here")
        a(class='camera-link button js--camera-publish camera-link-scan', href='', data-link="" data-type="email" data-name="") Send
      a(class='camera-link button button--yellow js--camera-rescan camera-link-scan', href='', data-link="" data-type="email" data-name="") Re-Scan