extends ../layout

block content
  .page-header
    h2 
      a(href="/cameras/#{camera}") Publishing Rooms 
      / 
      span(class="colour colour--2") Scanner Cam #{camera}
  .camera-scan-controls
    .camera-name-label Name:
    input(type="text", name="name", class="js--camera-name camera-input")
    a(class='js--camera-scan button camera-link-scan', href='#', data-camera="#{camera}") Scan
    h4(class="js--current-scan") &nbsp;

  .camera-wrapper
    .images.images--camera.js--current-scan-images

  ol.camera-notes
    li Enter a name
    li Press ‘Scan’
    li Sit in the centre of the bench within 5 seconds
  .send-modal
    .send-modal-inner See your scans on publishingrooms.com
      .small – plus a selection are also printed and displayed on the wall behind you


      
  .camera-notice
    * By publishing your image you are allowing usage both online and in the gallery space      