extends ../layout

block content
  .page-header
    h2 
      a(href="/") Publishing Rooms
      | / Camera List
    if env == 'exhibition'
      a(href="/camera") Scan  
    
  for camera in cameras
    a(class="camera-index-link", href="/camera/#{camera.id}") #{camera.name}

