extends ../layout

block content
  .page-header
    h2 Publishing Rooms: Camera List
    env
    if env == 'exhibition'
      a(href="/camera") Scan  
    
  for camera in cameras
    a(class="camera-index-link", href="/camera/#{camera.id}") #{camera.name}

