    ul.pull-right.list-inline
      li
        a(href='https://foxallstudio.com') Foxall
      li
        a(href='http://benjaminbenben.com') Ben Foxall
      li
        a(href='http://clacktronics.co.uk/') Ben Barwise        
      li
        a(href='https://bleepsandblops.com') Bleeps & Blops
