extends ../layout

block content
  .page-header
    h2
      i.fa.fa-building-o
      | Foxall Scanner

  a(class='js--scan link-scan', href='#') Scan
  h4(class="js--current-scan")
  div(class="images js--current-scan-images")
  for timeline in timelines
    h4 Taken at #{timeline.friendlyTimeline}
    div(class="images")
      for image in timeline.images
        img(src= image.path)