extends ../layout

block content
  .page-header
    h2 Scanner Wall - #{timeline.friendlyTimeline} 
    a(class='wall-link', href='/timeline/#{timeline.time}') Link
    a(class='wall-link', href='/timeline/#{timeline.time}') Share
  div(class="images")
    div(class="images")
      for image in timeline.images
        img(src= "/"+image.path)