extends ../layout
block content
  .page-header
    h2
      if env == 'exhibition'
        a(href="/scannerwall", class="wall-header") Publishing Rooms 
      if env == 'public'  
        .menu-button-container
          a(href="/", class="menu-button wall-header") Publishing Rooms 
          a(href="/", class="menu-button wall-header") Publishing Rooms 
          a(href="/", class="menu-button wall-header") Publishing Rooms
      span() / 
      span(class="colour colour--2") Wall Scan
  .wall-message
    .wall-message-inner Scanning...
  .wall-images-wrapper
    .wall-images.js--wall-images(data-status="done")
      each image in timelines[0].images
        img(onerror="this.style.display='none'", src= 'https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/'+image.path)
  .scan-time #{time}
  a(href="/scannerwall/search", class="wall-search-link") Search
  h4(class="js--current-scan")