extends ../layout

block content
  .wall-header
    h2 Scanner Wall - #{timeline.friendlyTimeline} 
    a(class='wall-link', href='http://publishingrooms.com/timeline/#{timeline.id}') Share
  div(class="images")
    div(class="images")
      for image in timeline.images
        img(src= 'https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/'+image.path)