extends ../layout

block content
  .page-header
    h2 Publishing Rooms: Scanner Wall

  a(class='js--scan link-scan', href='#') Scan
  .message
  h4(class="js--current-scan")

  select.js--day-select
    option(value=pick) Pick a day
    each day, i in days
      option(value=day) #{day}
  select.js--time-select
    option(value=pick) Pick a day to see the times

  a(class="js--timeline-link timelines-link button" href="#") go