extends ../layout

block content
  .page-header
    h2
      a(href="/scannerwall", class="wall-header") Publishing Rooms 
      span() / 
      span(class="colour colour--2") Wall Scan
  .wall-message
    .wall-message-inner Scanning...
  .wall-images-wrapper
    .wall-images.js--wall-images(data-status="done")
      each image in timelines[1].images
        img(onerror="this.style.display='none'", src= 'https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/'+image.path)
  .scan-time
  
  h4(class="js--current-scan")