extends ../layout
block content
  .page-header
    h2
      if env == 'exhibition'
        a(href="/scannerwall", class="wall-header") Publishing Rooms 
      if env == 'public'  
        a(href="/", class="wall-header") Publishing Rooms 
      span() / 
        a(href="/scannerwall", class="") Wall Scan 
      span() / 
        span(class="colour colour--2") Wall Scan Search

  .wall-search-controls
    div.js--day-select
      each day, i in days
        a(href="", data-day=day) #{day}
    div.js--time-select

    a(class="js--timeline-link timelines-link" href="#") go