extends ../layout
block content
  .page-header
    h2
      if env == 'exhibition'
        a(href="/scannerwall", class="wall-header") Publishing Rooms 
      if env == 'public'  
        .menu-button-container
          a(href="/", class="menu-button wall-header") Publishing Rooms 
          a(href="/", class="menu-button wall-header") Publishing Rooms 
          a(href="/", class="menu-button wall-header") Publishing Rooms
      span() / 
      span(class="colour colour--2") Wall Scan
  .wall-message
    .wall-message-inner Scanning...
  .wall-images-wrapper
    .wall-images.js--wall-images(data-status="done")
      each image in timelines[0].images
        img(onerror="this.style.display='none'", src= 'https://s3-eu-west-1.amazonaws.com/foxall-publishing-rooms/'+image.path)
  .scan-time #{time}
  a(href="/scannerwall/search", class="wall-search-link") Search
  h4(class="js--current-scan")

  .modal-postit
    a(href="", class="modal-postit-close js--modal-postit-close") X
    .modal-postit--inner
      .gallery.js-flickity(data-flickity-options='{ "imagesLoaded": true, "pageDots": false }')
        .gallery-cell
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e15/13126822_1719640438309507_1799464294_n.jpg?ig_cache_key=MTIzOTcyNzEyOTkyNDA2MjQwOQ%3D%3D.2")
        .gallery-cell
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12677243_1526563027650955_970830997_n.jpg?ig_cache_key=MTIyOTA3MTEzNTgxMDA4OTA1Nw%3D%3D.2")
        .gallery-cell
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e35/12907128_135837153483130_330740823_n.jpg?ig_cache_key=MTIyODM1NjE1NTgyNzgyNjcyNw%3D%3D.2")
        .gallery-cell 
          img(src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e35/12918514_218464941862729_26429894_n.jpg?ig_cache_key=MTIyODM3MDQzNzI5NjQ1MTc3NA%3D%3D.2")